body{
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
p{
    color: dimgray;
}
.orange-highlight{
    color: rgb(248, 171, 4);
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
}
.top-bennar{
    background-image: url("top-banner.png");
    border: 1px solid rgb(235, 224, 224);
    background-repeat: no-repeat;
}
section{
    height: 500px;
    padding-bottom: 150px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(40deg, lightsalmon, tomato,red);
    padding: 10px 20px ;
    border-radius: 7px;
    color: white;
    font-weight: bold;
}
.dream-area{
    background-image: url("ak.png");
    background-repeat: no-repeat;
    background-position: right;
}
.single-experience{
    box-shadow: 10px 10px 40px gray;
    border-radius: 10px;
    height: 60%;
    background-color: white;
}
.experience-area{
    background-image: url("bd.png");
    background-repeat: no-repeat;
    background-position: left;
    
}
#full-stack{
    border-left: 7px solid;
    border-image: linear-gradient(rgb(122, 217, 255),rgb(71, 172, 255));
    border-image-slice: 1;
}
#baby-web{
    border-left: 7px solid;
    border-image: linear-gradient(lightsalmon,tomato);
    border-image-slice: 1;
}
footer p{
    text-align: center;
    font-size: 12px;
}